@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 220 19% 97%; /* #f0f6fa */
    --foreground: 213 31% 14%; /* #141c25 */
    --card: 0 0% 100%;
    --card-foreground: 213 31% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 213 31% 14%;
    --primary: 200 92% 43%; /* #098dcf */
    --primary-foreground: 0 0% 100%;
    --secondary: 2 77% 65%; /* #EC645E */
    --secondary-foreground: 0 0% 100%;
    --muted: 220 19% 97%;
    --muted-foreground: 213 31% 14%;
    --accent: 2 77% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 217 21% 86%; /* #d1dbe6 */
    --input: 217 21% 86%;
    --ring: 200 92% 43%;
    --chart-1: 200 70% 55%;
    --chart-2: 2 100% 70%;
    --chart-3: 200 70% 35%;
    --chart-4: 2 100% 50%;
    --chart-5: 200 70% 75%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 213 31% 14%;
    --foreground: 0 0% 98%;
    --card: 213 31% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 213 31% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 200 92% 53%;
    --primary-foreground: 213 31% 14%;
    --secondary: 2 77% 75%;
    --secondary-foreground: 213 31% 14%;
    --muted: 213 31% 20%;
    --muted-foreground: 217 21% 75%;
    --accent: 2 77% 75%;
    --accent-foreground: 213 31% 14%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;
    --border: 217 21% 30%;
    --input: 217 21% 30%;
    --ring: 200 92% 53%;
    --chart-1: 200 70% 65%;
    --chart-2: 2 100% 80%;
    --chart-3: 200 70% 45%;
    --chart-4: 2 100% 60%;
    --chart-5: 200 70% 85%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
  .animate-marquee {
    animation: marquee 30s linear infinite;
  }
}
